/* background styling */
.container-fluid{
   background-image: url('assets/images/bcg.png')no-repeat;
   height: 800px;
}

#gameName{ color: rgb(62, 190, 190);
    height: 150px;
font-family: fantasy;

}


#title {
    font-size: 80px;
    padding: 50px;
}


.start-button
{
    height: 100px;
    width: 400px; 
padding: 50px;


}
    

.mainArea{

    color:white;
}

.center{
    background-color: black;
    height: 300px;
}
p{
    font-size: 20px;
    color:     rgb(0, 247, 255);
}

img {
    height: 200px;
    width:200px;
}
